.header {
    padding: 80px; /* some padding */
    text-align: center; /* center the text */
    background: linear-gradient(120deg,turquoise, pink); /* green background */
    color: white; /* white text color */
  }
  .navbar {
    overflow: hidden;  /* Hide overflow */
    background-color: pink; /* Dark background color */
    
  }
  /* Right-aligned link */
.navbar a.right {
  float: right; /* Float a link to the right */
}
.sticky{
  position: sticky ;
    position: -webkit-sticky;
    top:0;
}

/* Change color on hover/mouse-over */
.navbar a:hover {
  background-color: pink; /* Grey background color */
  color: black; /* Black text color */
}