/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    flex: 30%; /* Set the width of the sidebar */
    background-color: #f1f1f1; /* Grey background color */
    padding: 20px; /* Some padding */
  }